

.blogHomeBtnContainer {
	margin: 1%;
}

.blogHomeBtn {
	background-color: white;
 	border-radius: 10px;
	width: 25%;
	box-shadow: 0 0 1px 1px lightgray;
	margin: 10px .1%;
}

.blogHomeBtn:hover {
	background-color: lightgray !important;

}
